<% layout('layouts/boilerplate') -%>
<body>
    <h3>All listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-lg-1">
        <% for(let i = 0; i < allListings.length; i++) { %>
        <a href="/listings/<%= allListings[i]._id %>" class="listing-link">
            <div class="card col listing-card">
                <img
                    src="<%= allListings[i].image %>"
                    class="card-img-top"
                    alt="listing_image"
                    style="height: 20rem"
                />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= allListings[i].title %></b>
                        <br />
                        &#8377;<%= allListings[i].price.toLocaleString('en-IN')
                        %> / night
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    <!-- <ul>
        <% for(let i = 0; i < allListings.length; i++) { %>
            <li>
                <a href="/listings/<%= allListings[i]._id %>"> <%= allListings[i].title %> </a>
            </li>
        <% } %>
    </ul>
    <form action="listings/new">
        <button type="submit">Create New Listing</button>
    </form> -->
</body>
